<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Check if the requested URL is not a valid file and route it to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

    # If needed, enable proxying to a different server (this is optional)
    # RewriteCond %{REQUEST_URI}
    # RewriteRule (.*)$ http://127.0.0.1:80/$1 [P,QSA,L]
</IfModule>
